body {
    background-color: #341256;
    color: #ffffff;
}

img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

a {
    text-decoration: none;
    color: #ffffff;
}